.actionBtns {
  display: flex;
  gap: 10px;
}

.sidebar {
  width: 250px;
}

.nav-link {
  transition: 0.2s;
}

.nav-link:hover {
  background-color: #343a40;
  border-radius: 5px;
  padding-left: 10px;
}

/* Email Dashboard */

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

/* Layout */
.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 280px;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 20px;
}

/* Lead Card */
.lead-card {
  background: #1e293b;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.lead-card:hover {
  background: #334155;
}

.lead-card.active {
  background: #3b82f6;
}

.lead-card h4 {
  margin: 0;
  font-size: 17px;
  text-transform: capitalize;
}

.lead-card p {
  margin: 5px 0 0;
  font-size: 15px;
  color: #cbd5e1;
}

/* Main Area */
.main {
  flex: 1;
  padding: 30px;
}

/* Card */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

/* Textarea */
textarea {
  width: 100%;
  height: 260px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 12px;
  margin-top: 15px;
  font-size: 14px;
  outline: none;
}

textarea:focus {
  border-color: #3b82f6;
}

/* Button */
.actions {
  margin-top: 15px;
  text-align: right;
}

.send-btn {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background: #2563eb;
}
